.container {
  margin-left: 150px;
  height: 350px;
  padding-top: 45px;
}

.box {
  animation-name: movePhone;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movePhone {
  0% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-14deg);
  }
}

.title {
  color: brown;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 135px;
}
